/*reglages généraux*/


@font-face {
    font-family: "police";
    src: url("./Melondy.otf");
}



/* supprimer toutes les  */
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;



/*palette de couleur*/

--couleur-claire: #DBDBDB ;
--couleur-midclaire: #787878 ;
--couleur-midfonce: #cc7046 ;
--couleur-fonce: #5e535f;
}


body{
    font-family: "police";
    background-color: var(--couleur-fonce);
}


/*réglage de la partie Nav*/
#logoE2C{
    width:100px ;
    display: block;
}


/*réglage de la partie header*/
header{
position: relative;
top: 10vmin;
background:radial-gradient(circle at 50%, var(--couleur-midclaire),var(--couleur-fonce));
color:var(--couleur-claire);
height: 25vh;
padding: 20px;


display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}

h1{ 
    font-size: 6rem;
}
h2{ 
    margin-bottom: 5px;
    font-size: 3.5rem;
}
h3{
    font-size: 2.5rem;
}


nav {
    position: fixed;
    height: 10vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid var(--couleur-claire)1px;
    width: 100vw;
    background-color: var(--couleur-fonce);
    z-index: 10;
}

#nav-bar {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 5px;
    
}


.nav-button {
    font-size: 2rem;
    text-decoration: none;
    display: block;

    background-color:var(--couleur-midfonce); 
    color: var(--couleur-claire);
    padding: 5px;

    width: 15%;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    transition: backgroundcolor 500ms, color 1000ms, border 1000ms;

    
}

.nav-button:hover {

background-color: var(--couleur-claire);
color: var(--couleur-midfonce);
border: solid var(--couleur-midfonce) 2px;
}




/*réglage de la partie main et aside*/

#rangement {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
    position: relative;
    top: 10vmin;
}


main {
    width: 75%;
}

p{

font-size: 1.6rem;
margin-bottom: 5px
}


article{
    box-shadow: var(--couleur-claire)2px 2px 5px 0;
    padding: 10px;
    margin-bottom: 10px;
    transition: transform 1000ms;

}

article:hover{

    transform:translate3d(2vh, 2vh, 0);

}

/*réglage article 1*/

#texte1content{
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    align-items: center;

}

#texte1{
        width: 60%;
        padding-left: 10px;
}

iframe{
    display: block;
    width: 40%;
    border-radius: 10%;
}

aside {
    position: fixed;
    top: 25vmin;
    width: 20%;
    right: -33%;
    transition: right 800ms;


}

/* image et vidéo*/

#videoE2C {
max-width: 100%; 
}

#lecture{
max-width: 100%;
width: 20%;
float: right;

}

#anciengrp{
max-width: 100%;
margin-top: 1px;
}

#festnum{
max-width: 100%;
}
aside>article {
    padding: 15px;
    background-color: var(--couleur-fonce);
    color: var(--couleur-claire);
    border: solid var(--couleur-midfonce);
}

/*design insane*/

.intertext {
    width: 100%;
    aspect-ratio: 1904/640;
    background-image: url(../src/bib1.png);
    background-repeat: no-repeat;   
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: 15vh;
}

.intertext2 {
    width: 100%;
    aspect-ratio: 1904/640;
    background-image: url(../src/bib2.png);
    background-repeat: no-repeat;   
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: 15vh;
}

/*la page game,htm*/

#main-game{
    position: relative;
    top: 10vmin;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    width: 100%;
    padding: 25px;

    font-size: 2rem;
}

#user-interface{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#user-number{
font-size: 1.5rem;
width: 15vw;
padding: 5px;
border-radius: 10px;
background-color: var(--couleur-midclaire);
}

#user-number:focus{
background-color: var(--couleur-claire);
color: var(--couleur-midfonce);

}

#send-button{
    display: block;
    font-size: 1.5rem;
    padding: 5px;
    margin-left: 20px;

    background-color: var(--couleur-midclaire);
    border-radius: 10px;

    box-shadow: var(--couleur-midfonce)3px 3px 5px 0px;
    transition:box-shadow 250ms ;
   
}

#send-button:hover{
    background-color: var(--couleur-claire);
    box-shadow: 0 0 0 0;
}

.result-line{
    font-family: "police";
    border: var(--couleur-claire) solid 2px;
    border-radius: 5px;
    font-size: 1.8rem;
    margin: 12px;

}

/*reglage JS des news */

#news-trigger{

position: fixed;
top: 38vh;
right: 0;

background-color: var(--couleur-midfonce);
color: var(--couleur-claire);

writing-mode: vertical-lr;
text-orientation:mixed ;
font-size: large;
font-weight: 800;


padding: 10px;
border-top: var(--couleur-midfonce)solid 1px;
border-left: var(--couleur-midfonce)solid 1px;
border-bottom: var(--couleur-midfonce)solid 1px;

border-radius: 10px 0 0 10px;

z-index: 10;
cursor: pointer;

opacity: 1;
transition: opacity 1000ms;

}

#close{
    position: absolute;
    right: 0;
    top: -6vh;

    padding: 15px;
    background-color: var(--couleur-fonce);
    color: var(--couleur-claire);
    border: solid var(--couleur-midfonce);


    font-weight: 900;
    cursor: pointer;

}
